.claude
.ipynb_checkpoints
.venv
__pycache__
exports
.ropeproject
.direnv
*.zip
*.csv
result
.ruff_cache
.pre-commit-config.yaml


# Added by cargo

/target


# tindeq development
tindeq_data
test_tindeq_data
to_process
data.db